{{define "content"}}

<div class="row-fluid">
		<div class="span6">
				<h1>Recipe</h1>
		</div>
		<div class="span6">
				 <div class="row-fluid">
						<a class='btn offset6 span2' href='/recipes/add'>Edit</a>
						<a class='btn span2' href='/recipes/add'>Copy</a>
						<a class='btn btn-primary span2' href='/recipes/add'>Eat</a>
				</div>
		</div>
	</div>
	
  <p></p>
  
  <div class="row-fluid">
  	<div class='span6'>
  		<h3>[Name]</h3>
  		<p>[Description of Recipe]</p>
  	</div>
  	<div class='span6 text-right'>
  		<img src='http://placekitten.com/200/200'></img>
  	</div>
  </div>
  
  		<h3>Ingredients</h3>
  <div class="row-fluid">
  	<div class='span12'>
  		<div class='row-fluid'>
  			<div class='span1'>1 Cup</div>
  			<div class='span5'>Milk</div>
  			<div class='span1'>300ml</div>
  			<div class='span5'>Tomato Paste</div>
  		</div>
  		<div class='row-fluid'>
  			<div class='span1'>1 Cup</div>
  			<div class='span5'>Milk</div>
  			<div class='span1'>300ml</div>
  			<div class='span5'>Tomato Paste</div>
  		</div>
  		<div class='row-fluid'>
  			<div class='span1'>1 Cup</div>
  			<div class='span5'>Milk</div>
  			<div class='span1'>300ml</div>
  			<div class='span5'>Tomato Paste</div>
  		</div>
  	</div>
  </div>
  
  		<h3>Instructions</h3>
  <div class="row-fluid">
  	<div class='span12'>
  		<ol>
  			<li>ads sdldfs dsf ds sdf sf d ssd fds fdsfs f</li>
  			<li>ads sdldfs dsf ds sdf sf d ssd fds fdsfs f</li>
  		</ol>
  	</div>
  </div>
	
	
{{end}}

{{define "scripts"}}

{{end}}
