{{define "content"}}
  
  <div class="row-fluid">
		<div class="span6">
				<h1>Hi [name]</h1>
		</div>
		<div class="span6">
				<div class="row-fluid">
						<p class='text-right span2' href='#'>View</p>
						<a class='btn btn-primary span2' href='#'>7</a>
						<a class='btn span2' href='#'>14</a>
						<a class='btn span2' href='#'>21</a>
						<a class='btn span2' href='#'>28</a>
						<p class='text-left span2' href='#'>Days</p>
				</div>
		</div>
	</div>
  
  <p> &nbsp;</p>
  <div class="row-fluid">
		<div class="well well-small">
			<div class="row-fluid">
				<span class='span11'><b>Today</b></span>
				<a class='btn span1' href='/plan/edit'>Edit</a>
			</div>
		</div>
	</div>
	<div class='row-fluid'>
		<div class='span4'>
			<p><b>Morning</b></p>
			<p>Oats with Skim Milk</p>
		</div>
		<div class='span4'>
			<p><b>Lunch</b></p>
			<p>Takeaway/Eating Out</p>
		</div>
		<div class='span4'>
			<p><b>Dinner</b></p>
			<p>Healthy Nachos</p>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
				<div class="well well-small">
					<div class="row-fluid">
						<span class='span10'><b>Tomorrow</b></span>
						<a class='btn span2' href='/plan/edit'>Edit</a>
					</div>
				</div>
				<div class="row-fluid">
					<p class='span4'><b>Morning</b></p>
					<p class='span8'>Oats with Skim Milk</p>
				</div>
				<div class="row-fluid">
					<p class='span4'><b>Time</b></p>
					<p class='span8'>Food</p>
				</div>
				<div class="row-fluid">
					<p class='span4'><b>Time</b></p>
					<p class='span8'>Description</p>
				</div>
		</div>
		<div class="span6">
				<div class="well well-small">
					<div class="row-fluid">
						<span class='span10'><b>Friday</b></span>
						<a class='btn span2' href='/plan/edit'>Edit</a>
					</div>
				</div>
				<div class="row-fluid">
					<p class='span4'><b>Time</b></p>
					<p class='span8'>Food</p>
				</div>
				<div class="row-fluid">
					<p class='span4'><b>Time</b></p>
					<p class='span8'>Description</p>
				</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
				<div class="well well-small">
					<div class="row-fluid">
						<span class='span10'><b>Saturday</b></span>
						<a class='btn span2' href='/plan/edit'>Edit</a>
					</div>
				</div>
				<div class="row-fluid">
					<p class='span4'><b>Time</b></p>
					<p class='span8'>Description</p>
				</div>
		</div>
		<div class="span6">
				<div class="well well-small"><h4>Sunday</h4></div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
				<div class="well well-small"><h4>Monday</h4></div>
		</div>
		<div class="span6">
				<div class="well well-small"><h4>Tuesday</h4></div>
		</div>
	</div>
{{end}}

{{define "scripts"}}

{{end}}