{{define "content"}}
  <h1>Hi person, </h1>
  <p> &nbsp;</p>
  <div class="row-fluid">
		<div class="well well-small">
				<h4>Today</h4>
		</div>
	</div>
	<div class='row-fluid'>
		<div class='span4 text-center'>
			<h3 >Morning</h3>
			<div class='row-fluid'>
			<img src="http://placekitten.com/60/60" class="img-polaroid span3 mobile-span6"></img>
			<p class='span9 mobile-span6'> Oats</p>
			</div>
		</div>
		<div class='span4 text-center'>
			<h4>Lunch</h4>
		</div>
		<div class='span4 text-center'>
			<h4>Dinner</h4>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
				<div class="well well-small"><h4>Tomorrow</h4></div>
		</div>
		<div class="span6">
				<div class="well well-small"><h4>+ 2</h4></div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
				<div class="well well-small"><h4>+ 3</h4></div>
		</div>
		<div class="span6">
				<div class="well well-small"><h4>+ 4</h4></div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
				<div class="well well-small"><h4>+ 5</h4></div>
		</div>
		<div class="span6">
				<div class="well well-small"><h4>+ 7</h4></div>
		</div>
	</div>
{{end}}

{{define "scripts"}}

{{end}}