<!doctype html>
<head>
	<title>Food Planner</title>
    <link rel="stylesheet" href="/stylesheets/vendor/cosmos/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/vendor/bootstrap-responsive.min.css" />
    <link rel='stylesheet' href="/stylesheets/bootstrap-mobile-responsive.css" />
</head>
<body>
	<div class="row-fluid">
		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
    			<a class="brand" href="/">Food Planner</a>
  			</div>
  		</div>
  	</div>
  	<div class="container" id="content">
  		<div class="alert alert-error">
  			<h1>404</h1><p>Page not found...</p>
		</div>
  	</div>
</body>
</html>